@font-face {
  font-family: DeliciousRoman;
  src: url('Delicious-Roman.otf');
}
h3 {
  font-family: DeliciousRoman, Helvetica, Arial, sans-serif;
  padding-top: 0px;
  text-align: center;
  font-size: 550%;
}

p {
  text-align: center;
  font-family: DeliciousRoman, Helvetica, Arial, sans-serif;
}

body {
  background: linear-gradient(90deg, #fbb917 20px, transparent 1%) center, linear-gradient(#fbb917 20px, transparent 1%) center, #9192FB;
  background-size: 22px 22px;
}
